## First Trial

In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [2]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [3]:
movies.genres = movies.genres.str.split('|')

In [4]:
# Create a genres list
i_list = []
for i in movies['genres']:
    for j in i:
        i_list.append(j)
genres_list = set(i_list)
genres_list

{'(no genres listed)',
 'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [5]:
for j in genres_list:
    movies[j] = 0
for i in range(movies.shape[0]):
    for j in genres_list:
        if (j in movies['genres'].iloc[i]):
            movies.loc[i,j] = 1

In [6]:
movies.head(5)

,movieId,title,genres,Adventure,Children,Comedy,Western,Action,IMAX,Sci-Fi,...,Musical,(no genres listed),Animation,Romance,Fantasy,Documentary,Horror,Crime,Film-Noir,Mystery
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",1,1,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",1,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
movies_1 = movies.iloc[:,3:]
movies_1

,Adventure,Children,Comedy,Western,Action,IMAX,Sci-Fi,War,Drama,Thriller,Musical,(no genres listed),Animation,Romance,Fantasy,Documentary,Horror,Crime,Film-Noir,Mystery
0,1,1,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
9738,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
9741,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
# Normalize each row
movies_1['norm'] = np.sqrt(np.sum(movies_1.iloc[:,0:],axis=1))
movies_1.head(5)

,Adventure,Children,Comedy,Western,Action,IMAX,Sci-Fi,War,Drama,Thriller,...,(no genres listed),Animation,Romance,Fantasy,Documentary,Horror,Crime,Film-Noir,Mystery,norm
0,1,1,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,2.236068
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1.732051
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1.414214
3,0,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1.732051
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.000000

In [9]:
for i in movies_1.columns:
    movies_1[i] = movies_1[i] / movies_1['norm']

In [10]:
movies_1.head(5)

,Adventure,Children,Comedy,Western,Action,IMAX,Sci-Fi,War,Drama,Thriller,...,(no genres listed),Animation,Romance,Fantasy,Documentary,Horror,Crime,Film-Noir,Mystery,norm
0,0.447214,0.447214,0.447214,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.447214,0.000000,0.447214,0.0,0.0,0.0,0.0,0.0,1.0
1,0.577350,0.577350,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.000000,0.000000,0.577350,0.0,0.0,0.0,0.0,0.0,1.0
2,0.000000,0.000000,0.707107,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.000000,0.707107,0.000000,0.0,0.0,0.0,0.0,0.0,1.0
3,0.000000,0.000000,0.577350,0.0,0.0,0.0,0.0,0.0,0.57735,0.0,...,0.0,0.000000,0.577350,0.000000,0.0,0.0,0.0,0.0,0.0,1.0
4,0.000000,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0

In [11]:
movies_1.drop(['norm'],axis=1,inplace=True)
movies_1.head(5)

,Adventure,Children,Comedy,Western,Action,IMAX,Sci-Fi,War,Drama,Thriller,Musical,(no genres listed),Animation,Romance,Fantasy,Documentary,Horror,Crime,Film-Noir,Mystery
0,0.447214,0.447214,0.447214,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.447214,0.000000,0.447214,0.0,0.0,0.0,0.0,0.0
1,0.577350,0.577350,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.577350,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.707107,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.707107,0.000000,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.577350,0.0,0.0,0.0,0.0,0.0,0.57735,0.0,0.0,0.0,0.000000,0.577350,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

In [12]:
## M dot MT for the similarity
similarity_matrix = np.dot(movies_1,movies_1.T)

In [13]:
similarity_matrix

array([[1.        , 0.77459667, 0.31622777, ..., 0.        , 0.31622777,
        0.4472136 ],
       [0.77459667, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.31622777, 0.        , 1.        , ..., 0.        , 0.        ,
        0.70710678],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.31622777, 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.4472136 , 0.        , 0.70710678, ..., 0.        , 0.        ,
        1.        ]])

In [14]:
df_sm = pd.DataFrame(similarity_matrix, index=movies['movieId'], columns=movies['movieId'])
df_sm

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.774597,0.316228,0.258199,0.447214,0.000000,0.316228,0.632456,0.000000,0.258199,...,0.447214,0.316228,0.316228,0.447214,0.0,0.670820,0.774597,0.00000,0.316228,0.447214
2,0.774597,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.816497,0.000000,0.333333,...,0.000000,0.000000,0.000000,0.000000,0.0,0.288675,0.333333,0.00000,0.000000,0.000000
3,0.316228,0.000000,1.000000,0.816497,0.707107,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.353553,0.000000,0.500000,0.000000,0.0,0.353553,0.408248,0.00000,0.000000,0.707107
4,0.258199,0.000000,0.816497,1.000000,0.577350,0.000000,0.816497,0.000000,0.000000,0.000000,...,0.288675,0.408248,0.816497,0.000000,0.0,0.288675,0.333333,0.57735,0.000000,0.577350
5,0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.670820,0.288675,0.353553,0.288675,0.500000,0.288675,0.353553,0.000000,0.500000,0.288675,...,0.750000,0.353553,0.353553,0.500000,0.0,1.000000,0.866025,0.00000,0.707107,0.500000
193583,0.774597,0.333333,0.408248,0.333333,0.577350,0.000000,0.408248,0.000000,0.000000,0.000000,...,0.577350,0.408248,0.408248,0.577350,0.0,0.866025,1.000000,0.00000,0.408248,0.577350
193585,0.000000,0.000000,0.000000,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.707107,0.707107,0.000000,0.0,0.000000,0.000000,1.00000,0.000000,0.000000
193587,0.316228,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.707107,0.408248,...,0.707107,0.500000,0.000000,0.707107,0.0,0.707107,0.408248,0.00000,1.000000,0.000000
193609,0.447214,0.000000,0.707107,0.577350,1.000000,0.000000,0.707107,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.707107,0.000000,0.0,0.500000,0.577350,0.00000,0.000000,1.000000

In [15]:
def gettopksimilar(moid,min_s,max_s,top_k=5,min_rat=4.1,min_t_rat=5,fyear='2010',tyear='2017'):
    
    ss = df_sm[df_sm.index==moid].T.sort_values(moid,ascending=False)
    ss1 = ss.reset_index()
    ss2 = ss1.rename(columns={'index':'movieId'})
    movies_0 = movies.iloc[:,:3]
    comb1 = pd.merge(ss2,movies_0,how='left',on='movieId')
    
    s = "{}-01-01".format(fyear)
    e = "{}-12-31".format(tyear)
    date_s = datetime.strptime(s,"%Y-%m-%d")
    timestamp_s = datetime.timestamp(date_s)
    date_e = datetime.strptime(e,"%Y-%m-%d")
    timestamp_e = datetime.timestamp(date_e)
    
    sel_date = ratings.loc[(ratings['timestamp']>=timestamp_s)&(ratings['timestamp']<=timestamp_e)]
    get_mov_id = sel_date.groupby(['movieId']).agg({'userId':'count','rating':'mean'}).reset_index()
    comb2 = pd.merge(comb1, get_mov_id,how='left',on='movieId')
    get_mov_id_1 = comb2.loc[((comb2[moid]>=min_s)&(comb2[moid]<=max_s)&(comb2['movieId']!=moid))&\
                           (comb2['userId']>min_t_rat)&(comb2['rating']>min_rat)].head(top_k)
    
    get_mov_id_1.columns = ['movieId','Similarity_Score','Recommended_Movie','Genres','total_rating','avg_rating']
    return get_mov_id_1

In [18]:
gettopksimilar(5,0.3,1,10,3.5,20,'2010','2017')

,movieId,Similarity_Score,Recommended_Movie,Genres,total_rating,avg_rating
2,60756,1.000000,Step Brothers (2008),[Comedy],21.0,3.619048
92,2791,1.000000,Airplane! (1980),[Comedy],24.0,3.958333
114,2918,1.000000,Ferris Bueller's Day Off (1986),[Comedy],32.0,3.750000
137,54503,1.000000,Superbad (2007),[Comedy],30.0,3.716667
253,1080,1.000000,Monty Python's Life of Brian (1979),[Comedy],25.0,4.520000
452,4816,1.000000,Zoolander (2001),[Comedy],25.0,3.580000
613,8641,1.000000,Anchorman: The Legend of Ron Burgundy (2004),[Comedy],32.0,3.796875
710,223,1.000000,Clerks (1994),[Comedy],22.0,3.659091
1036,34162,0.707107,Wedding Crashers (2005),"[Comedy, Romance]",27.0,3.537037
1074,8874,0.707107,Shaun of the Dead (2004),"[Comedy, Horror]",36.0,3.861111